*{
    font-family: "Lato", "Georgia";
    background: size 100%;
}
body{
    margin: 0px;
    font-family: 'Lato';
    color: rgb(22, 21, 21);
    /* background-image: linear-gradient(90deg,rgb(255, 188, 205)50%,rgb(141, 222, 233)50%);  */
    background-size: 100%;
    background-color: rgb(199, 199, 198);
}
.header{
    position: fixed;
    top: 0px;
    height: 60px;
    z-index: 1;
    width: 100%;
    display: flex;
    float: left;
    background-image: linear-gradient(110deg,rgb(166, 85, 231)60%,rgb(130, 141, 238)60%);
} 
.heading{
    margin-top: 0px;
    padding: 3px;
    /* text-shadow: 3px 3px 8px black; */
    color: rgb(255, 255, 255);
}
.sent-anyl{
    position: fixed;
    right: 5px;
    top:5px;
    left: 72%;
    text-decoration: none;
    height: auto;
    width: auto;
    color: rgb(255, 255, 255);
}
.bot-activity{
    position: absolute;
    right: 10px;
    top:5px;
    left: 87%;
    text-decoration: none;
    height: auto;
    width: auto;
    color: rgb(255, 255, 255);
}
a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    height: inherit;
    width: inherit;
}
.sent-anyl a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    height: inherit;
    width: inherit;
}
.container{
    margin-top: 100px;
}
.main{
    display: flex;
    flex-direction: row;
    background-size:100% ;
}
.form{
    margin: 30px;
    position:relative;
}
.inp-txt{
    position:relative;
    height:200px;
    width: 500px;
    se
    padding: 5px;
    font-size: large;
    box-shadow: 0px 0px 0px black;
    border-radius: 18px;
    scroll-behavior:smooth;
    scroll-snap-type: none;
    scroll-margin-block:inherit ;
    border-color: rgb(172, 41, 233);
    
}
button{
    position: relative;
    color: rgb(252, 252, 252);
    padding: 10px;
    top:20px;
    left: 425px;
    font-size: large;
    background-color: rgb(158, 85, 255);
    border-radius: 20px;
    border: none;
    height: auto;
    /* /background-image: linear-gradient(-90deg,rgb(146, 157, 255),rgb(184, 233, 255)); */
    width: auto;
    transition: 0.1s;
}
button:hover{
    box-shadow: 4px 4px 10px rgb(57, 13, 99);
    color: white;
    background-color: rgb(127, 62, 212);
    cursor: pointer;
}
.res{
    padding:10px;
    position: inherit;
    right: 10px;
    width: 100%;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
    margin-left: 30px;
}
.res:hover{
    box-shadow: none;
}
.ml{
   
    
    margin: 12px;
    /* background-image: linear-gradient(
-90deg
,rgb(37, 147, 175),rgb(0, 145, 113)); */
    font-size: large;
    font-family: 'Lato','Georgia';
    width: auto;
    height: auto;
    color: rgb(255 255 255);
    padding: 5px;
    transition: 0.2s;
    border-radius: 8px;
    background-image: linear-gradient(-1deg,rgb(116 50 221),rgb(97 116 228));
}
.ml:hover{
    box-shadow: 1px 1px 9px rgb(136, 136, 136),1px 1px 9px rgb(136, 136, 136);

}
.query{
    /* top: 50px; */
    position: absolute;
    right: 30px;
    top: 100px;
}
.table{
    position: absolute;
    top:160px;
    left: 30px;
    width: 90%;
    right: 30px;
    padding: 10px;
    color: white;margin: 20px;
}
.caption{
    font-size: 30px;
    color: rgb(17, 17, 17);
}
.row{
    color: white;
    background-color: rgb(142, 158, 247);
    margin-right: 50px;
}
.row:hover{
    box-shadow: 0px 0px 6px rgb(124, 118, 118);
}
.table-data{
    margin: 0px;
    padding: 5px;
    color: white;
}
.t-heading{
    background-color: rgb(156, 94, 238);
}
.footer{
    position:relative;
    padding: 8px;
    padding-bottom: 15px;
    width: 100%;
    height: auto;
    margin-top:50px;
    margin-right: 0%;
    margin-bottom: 0%;
    bottom: 0px;
    /* align-content: center;
    text-align: center;
    align-self: center; */
    height: auto;
    background-image: linear-gradient(90deg,rgb(132, 55, 163),rgb(116, 50, 221));
    color:white;
}
.icon{
    margin-top: 10px;
    position: relative;
    margin: 2px;
    width: 24px;
    height: 24px;
    border-radius:50% ;
    box-shadow: 4px white;
}
.hover:hover{
    transition: 0.4s;
    opacity: 0.6 black;
    box-shadow: 3px 1px 4px black;
}
.copy{
    text-align: left;
}
.made{
    position: absolute;
    right: 30px;
    bottom: 15px;
}