<!DOCTYPE html>
<html>
<head>
    <title>Sentiment Analyser</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{%static 'style.css' %}">
    {% block style %}{% endblock style %}
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
</head>
<body class="body">
<div class="header">
    {% block header %}{% endblock header %}
    <ul class="but">
         <li class="list-item"><a href="sentiment-analyser">Sentiment Analyser</a></li>
        <li class="list-item"><a href="bot">Bot Page</a></li>
        <li class="list-item"><a href="mention">Activity Tables</a></li>
        <li class="list-item"><a href="about">About</a></li>
    </ul>
</div>
{% block heading %}{% endblock heading %}
    {% block content %}
    {% endblock content %}
    <footer class="footer">
            {% load static %}
            <a href="" class="icon"><img src="{% static '/images/facebook.png' %}" class="icon hover"></a>
            <a href=""class="icon"><img src="{% static '/images/insta.png' %}" class="icon hover"></a>
            <a href="" class="icon"><img src="{% static '/images/twitter.png' %}" class="icon hover"></a>
            <a href="" class="icon"><img src="{% static '/images/yt.png' %}" class="icon hover"></a>
        <div class="copy">&copy; Sentiment Analyser</div>
        <div class="made">Made by : Parshav,Hrishikesh and Aman</div>
    </footer>
{% block scripts %}{% endblock scripts %}
</body>
</html>