{% extends 'base.html' %}
{% block style %}
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- semantic UI -->
    <link rel="stylesheet" type='text/css' href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css">
    <!--Chart js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E=" crossorigin="anonymous" />
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{%static 'style-bot.css' %}">
{% endblock style %}
{% block scripts %}
    <script>
        $(document).ready(function(){
            Chart.defaults.global.defaultFontColor = "#fff";
            var ctx = document.getElementById('myChart').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'pie',
                 legend: {
                    fontColor: "red"
                    },
                data: {
                    labels: ["Positive","Negative","Neutral"],
                    datasets: [{
                        label: '# of Votes',
                        data: {{polarity}},
                        backgroundColor: [
                            'rgb(255, 99, 132)',
                            'rgb(119, 39, 223)',
                            'rgb(255, 205, 86)'
                        ],
                        {% comment %} borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ], {% endcomment %}
                        borderWidth: 1
                        
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
                    });
     $(document).ready(function(){
            var ctx = document.getElementById('sub').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels:{{range}} ,
                    datasets: [{
                        label: 'Subjectivity',
                        data:{{subjectivity}},
                        fill: false,
                        borderColor: 'rgb(77,77,77)',
                        color:'red',
                        tension: 0.1,
                }]
            } 
            });
        });
    </script>
{% endblock scripts %}

{% block header %}<div><h1>Activity Of Bot</h1></div>{% endblock header %}
{% block content %}
    <div class="graphs">
        <div class="diag"><h3>Overall Sentiment</h3>
        <canvas id="myChart"></canvas></div>
        <div class="diag"><h3>Overall Subjectivity</h3>
        <canvas id="sub" ></canvas></div> 
    </div>
{% endblock content %}

