{% extends 'base.html' %}
{% block  header%}<button class="bot-activity"><a href="mention">Bot Activity</a></button>{% endblock header %}
{% block  heading%}<div class="big-head"><p>Sentiment Analysis Using Bot</p></div>{% endblock heading %}
{% block content %}
    <div class="main">
        <div class='form'>
            <form id="form"action="#form" method='post'>
                {% csrf_token %}
                <textarea class="inp-txt" name='data'></textarea>
                <button type='submit'>Analyse</button>
            </form></div>
        <div class="res">
            <div class="ml"><b color="blue">Text</b> : {{text}}</div>
            <div class="ml"><b>Polarity</b> : {{polarity}}</div>
            <div class="ml"><b>Sentiment</b> : {{sentiment}}</div>
            <div class="ml"><b>Bot reply</b> : {{result}}</div>
        </div>
    </div>{% endblock content %}